%nav
  .fab
    = link_to tasks_path do
      %i.fa.fa-home

.container-container
  .panel
    %h1.title Listing tasks
    %h2.title View, edit, and destroy tasks
    %hr
    %table
      %tbody
        - @tasks.each do |task|
          %tr
            %td.title
              = task.verb
            %td.icon
              =link_to task do
                %i.fa.fa-eye
            %td.icon
              = link_to edit_task_path(task) do
                %i.fa.fa-pencil
            %td.icon
              = link_to task, method: :delete, data: { confirm: 'Are you sure?' } do
                %i.fa.fa-trash
    .fab.action
      = link_to new_task_path do
        %i.fa.fa-plus