%nav
  .fab
    = link_to tasks_path do
      %i.fa.fa-home

.container-container
  %h1.title Editing task

  = render 'form'

  .fab.action
    = link_to cpanel_path do
      %i.fa.fa-calendar
  .fab.action
    = link_to @task do
      %i.fa.fa-eye
  .fab.action.trash
    = link_to @task, method: :delete, data: { confirm: 'Are you sure?' } do
      %i.fa.fa-trash