.container-container
  .reminder-container
    %h1 Did you remember to _____?
  .search-container
    %input{:type=>"text", :placeholder=>"Search..."}
    %button{:type=>"submit", :class=>"fa fa-search"}

%br
%br

%h2 Listing tasks
%table
  %thead
    %tr
      %th Verb
      %th
      %th
      %th

  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.verb
        %td= link_to 'Show', task
        %td= link_to 'Edit', edit_task_path(task)
        %td= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Task', new_task_path
